body {
    border-left: 8px solid #FFE01B;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #241C15;
    width: 100%;
    /* min-height: 100vh; */
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: repeat (3, 1fr);
}

svg { fill: #241C15; }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Literata', serif;
    font-size: 45px;
    margin-bottom: 20px;
}

a {
    color: #007C89;
    text-decoration: none;
}

p { margin-bottom: 20px; }

label {
    display: block;
    font-weight: 600;
    margin: 20px 0 10px;
}

input {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    padding: 20px;
}

header {
    grid-area: 1 / 1 / 2 / 2;
    margin: 12px;
}

main {
    grid-area: 2 / 1 / 3 / 2;
    margin: 12px;
    padding: 35px;
}

main .content {
    margin: 0 auto;
    max-width: 600px;
}

footer {
    grid-area: 3 / 1 / 4 / 2;
    margin: 12px;
}

aside {
    grid-area: 1 / 2 / 4 / 3;
    background-image: url('img/flowers.png');
    background-color: #FFE01B;
}

#logo { height: 38px; }